[submodule "byte-unixbench"]
	path = byte-unixbench
	url = https://github.com/kdlucas/byte-unixbench.git

[submodule "phoronix-test-suite"]
	path = phoronix-test-suite
	url = https://github.com/phoronix-test-suite/phoronix-test-suite.git